models/pretrained/*
model_logs/BiLSTM/model_0.854/fingerprint.pb
model_logs/BiLSTM/model_0.854/keras_metadata.pb
model_logs/BiLSTM/model_0.854/saved_model.pb
model_logs/BiLSTM/model_0.854/variables/variables.data-00000-of-00001
model_logs/BiLSTM/model_0.854/variables/variables.index
model_logs/BiLSTM/model_0.846/fingerprint.pb
model_logs/BiLSTM/model_0.846/keras_metadata.pb
model_logs/BiLSTM/model_0.846/saved_model.pb
model_logs/BiLSTM/model_0.846/variables/variables.data-00000-of-00001
model_logs/BiLSTM/model_0.846/variables/variables.index
model_logs/CNN/model_0.808/fingerprint.pb
model_logs/CNN/model_0.808/keras_metadata.pb
model_logs/CNN/model_0.808/saved_model.pb
model_logs/CNN/model_0.808/variables/variables.data-00000-of-00001
model_logs/CNN/model_0.808/variables/variables.index
